<mat-toolbar color="primary">
  <mat-toolbar-row class="disp-flex jc-space-bw">
    <button type="button" aria-label="Toggle sidenav" mat-icon-button data-toggle="collapse"
      data-target="#collapsibleNavbar" *ngIf="isHandset$ | async">
      <mat-icon aria-label="Side nav toggle icon">{{maticon.MENU}}</mat-icon>
    </button>
    <div class="main-header toolbar-spacer">
      <a class="logo border-right-header flex-center-align">
        <span class="logo-mini"><b>{{'HEADERCOMPONENT.HEADERLOGOTEXT' | translate}}</b></span>
        <span class="logo-lg flex-center-align">
          <img class="flex-center-align main-logo-img va-middle" src="./assets/images/Subex-logo_png.png" alt="Logo"></span>
      </a>
      <span class="hidden-dropdown">
        <a class="switch-user border-right-header flex-center-align">
          <span class="logo-lg">
            <img class="switch-user-img va-middle img-responsive"  height="25" width="25" src="./assets/images/switch_user_icon.png" alt="Logo" (click)='navigate()' />
          </span>
        </a>
        <a class="logo-lg greeting-menu">
         <button class="li-button" mat-icon-button [matMenuTriggerFor]="appMenu" style="width: 100% !important;">
              <div class="pull-left login_desc PR9">
                <img class="va-middle img-responsive" alt="login-user" height="24" width="24" src="./assets/images/user-icon.png">
              </div>
              <div class="pull-left">
                <div class="line-height-20 line-first FS14">{{greetings}}</div>
                <div class="line-height-20 align-left line-second FS12">{{userName}}</div> <!--userName &nbsp;-->
              </div>
              <mat-icon class="PL-REM1">{{maticon.ARROWDROPDOWN}}</mat-icon>
            </button>

            <mat-menu #appMenu="matMenu"  [hasBackdrop]="true" class="matMenu">
              <ng-template matMenuContent let-name="name">
                <button mat-menu-item class="outline-none" *ngIf="false">
                  <mat-icon aria-hidden="true" class="margin-right-3">{{maticon.CHANGEPASSWORD}}</mat-icon>
                  {{'CHANGE_PASSWORD' | translate}}
                </button>
                <button mat-menu-item class="outline-none">
                  <a class="help-header disp-block" href="./assets/pdf/PartnerManagementDetails.pdf" target="_blank">
                    <mat-icon aria-hidden="true" class="margin-right-3">{{maticon.HELP}}</mat-icon>
                  {{'HELP' | translate}}</a>
                </button>
                <button mat-menu-item class="outline-none" (click)="confirmDialog = true" title="Logout">
                  <mat-icon aria-hidden="true" class="margin-right-3">power_settings_new</mat-icon>
                  {{'LOGOUT' | translate}}
                </button>
              </ng-template>
            </mat-menu>
        </a>
      </span>
    </div>
    <!-- <div class="logout hidden-dropdown">
      <a class="align-left logout-text logout-container" (click)="confirmDialog = true" title="Logout"><img
          class="va-middle PL5 PR5" height="15" width="15" alt="logout-icon"
          src="./assets/images/logout-icon.svg">
          <span class="red">{{'LOGOUT' | translate}}</span>
        </a>
    </div> -->
    <div class="hidden-dropdown-view">
      <mat-menu #hiddenMenu="matMenu">
        <ng-template matMenuContent let-name="hiddenDropdown">
          <button mat-menu-item class="outline-none">
            <mat-icon aria-hidden="true" class="margin-right-3">{{maticon.CHANGEPASSWORD}}</mat-icon>
            {{'CHANGE_PASSWORD' | translate}}
          </button>
          <button mat-menu-item class="outline-none">
            <mat-icon aria-hidden="true" class="margin-right-3">{{maticon.HELP}}</mat-icon>
            {{'HELP' | translate}}
          </button>
          <button mat-menu-item class="outline-none">
            <a class="align-left logout-text logout-container" (click)="confirmDialog = true" title="Logout">
              <img 
              class="va-middle PL5 PR5 margin-right-3" height="15" width="15" alt="logout-icon"
                src="./assets/images/logout-icon.svg">{{'LOGOUT' | translate}}</a>
          </button>
        </ng-template>
      </mat-menu>
      <button class="li-button" mat-icon-button [matMenuTriggerFor]="hiddenMenu" [matMenuTriggerData]="{name: 'Sally'}">
        <mat-icon class="PL-REM1">{{maticon.ACCOUNTHEADER}}</mat-icon>
      </button>
    </div>
  </mat-toolbar-row>
  <app-confirmdialog *ngIf="confirmDialog" [objToFetch]="fetchObject" [message]="'LOGOUT_CONFIRM' | translate" [buttonName]="'logout'" (fireModalEvent)="onModalClick($event)"></app-confirmdialog>
</mat-toolbar>