<div id="confirmModal" class="modal">
  <div class="modal-content">
    <span class="close" (click)="fireEvent('close')">&times;</span>
    <div class="FS14 PL20">{{message}}</div>
    <div class="disp-flex jc-flex-end MT20">
      <button *ngIf="buttonName == 'yes'" class="btn PL10 PR10 PT7 PB7 yes-btn  pointer" (click)="fireEvent('yes')">Ok</button>
      <button *ngIf="buttonName == 'logout'" class="btn PL10 PR10 PT7 PB7 yes-btn  pointer" (click)="fireEvent('logout')">Logout</button>
      <button class="btn PL10 PR10 PT7 PB7 cancel-btn ML10 pointer" (click)="fireEvent('close')">Cancel</button>
    </div>
  </div>
</div>